[submodule "sixohsix-twitter"]
	path = sixohsix-twitter
	url = git://github.com/sixohsix/twitter.git
[submodule "python-irclib"]
	path = python-irclib
	url = git://github.com/sixohsix/python-irclib.git
