[submodule "/home/weetabix/git/protobot/sixohsix-twitter"]
	path = /home/weetabix/git/protobot/sixohsix-twitter
	url = git://github.com/sixohsix/twitter.git
[submodule "/home/weetabix/git/protobot/python-irclib"]
	path = /home/weetabix/git/protobot/python-irclib
	url = git://github.com/sixohsix/python-irclib.git
